*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(135deg,#020617,#0f172a);

color:white;

min-height:100vh;

}

/* Navbar */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:rgba(255,255,255,0.05);

backdrop-filter: blur(10px);

border-bottom:1px solid rgba(255,255,255,0.1);

}

.logo{

font-size:22px;

font-weight:600;

color:#38bdf8;

}

.accuracy{

background:rgba(56,189,248,0.2);

padding:8px 16px;

border-radius:10px;

}

/* Main */

.container{

display:flex;

justify-content:center;

align-items:center;

padding:60px;

gap:60px;

}

/* Left */

.left{

width:450px;

}

.left h1{

font-size:40px;

margin-bottom:20px;

}

.subtitle{

opacity:0.7;

margin-bottom:30px;

}

.stats{

display:flex;

gap:15px;

}

.stat-box{

background:rgba(255,255,255,0.05);

padding:15px;

border-radius:12px;

flex:1;

text-align:center;

}

/* Right */

.right{

width:450px;

}

.form-box{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:20px;

backdrop-filter: blur(20px);

border:1px solid rgba(255,255,255,0.1);

}

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-top:20px;

}

input{

padding:12px;

border-radius:10px;

border:none;

background:#020617;

color:white;

}

input:focus{

outline:none;

border:1px solid #38bdf8;

}

button{

margin-top:20px;

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:linear-gradient(135deg,#38bdf8,#2563eb);

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.03);

box-shadow:0 0 20px rgba(56,189,248,0.5);

}
